/* @CHARSET "UTF-8"; */

.page_header_div {
	height: 10%;
	width: 100%;
	border-bottom-color: #0ABAB5;
	border-bottom-style: dotted;
	font-size: 1.5em;
}

.page_header {
	margin-left: 5%;
}

.access_failure {
	diplay: inline-block;
	float: right;
	margin-right: 5%;
	color: #E51E25;
}